# DATA COLLECTION
In the first stage, we will start by collecting datasets through scraping the web on Skytrax https://www.airlinequality.com/

In [10]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [9]:
# Create an empty list to collect all reviews
Reviews = []

# Create an empty list to collect all rating stars
Stars = []

# Create an empty list to collect all date
Date = [] 

# Create an empty list to collect Country data
Country = []

In [22]:
for i in range(1, 36):
    page = requests.get(f"https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortby=post_date%3ADesc&pagesize=100")
    
    soup = BeautifulSoup(page.content, "html.parser")
    
    for item in soup.find_all("div", class_="text_content"):
        Reviews.append(item.text)
    
    for item in soup.find_all("div", class_ = "rating-10"):
        try:
            Stars.append(item.span.text)
        except:
            print(f"Error on page {i}")
            Stars.append("None")
            
    #date
    for item in soup.find_all("time"):
        Date.append(item.text)
        
    #country
    for item in soup.find_all("h3"):
        Country.append(item.span.next_sibling.text.strip(" ()"))

Error on page 30
Error on page 31
Error on page 32
Error on page 34
Error on page 34

In [54]:
#check the length of total reviews extracted
len(Reviews)

3418

In [55]:
len(Country)

3418

In [56]:
len(Date)

3418

In [45]:
#check the length 
Reviews = Reviews[:3418]

In [46]:
#check the length 
Stars = Stars[:3418]

In [47]:
#check the length 
Date = Date[:3418]

In [48]:
#check the length 
Country = Country[:3418]

In [49]:
#create  a dataframe from these collected lists of data

df = pd.DataFrame()
df["Reviews"] = Reviews
df["Stars"] = Stars
df["Date"] = Date
df["Country"] = Country

In [50]:
df = pd.DataFrame({"Reviews":Reviews,"Stars": Stars, "Date":Date, "Country": Country})

In [51]:
df.head()

,Reviews,Stars,Date,Country
0,✅ Trip Verified | The ground staff were not h...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,23rd April 2023,Ireland
1,✅ Trip Verified | Second time BA Premium Econ...,1,22nd April 2023,United Kingdom
2,Not Verified | They changed our Flights from ...,10,18th April 2023,United States
3,Not Verified | At Copenhagen the most chaotic...,2,18th April 2023,United States
4,✅ Trip Verified | Worst experience of my life...,5,17th April 2023,United States

In [52]:
df.shape

(3418, 4)

In [53]:
import os

cwd = os.getcwd()
df.to_csv(cwd+ "/BA_reviews.csv")

In [57]:
#imports
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import re

In [58]:
import os

cwd = os.getcwd()
df.to_csv(cwd+ "/BA_reviews.csv")

In [59]:
df.head()

,Reviews,Stars,Date,Country
0,✅ Trip Verified | The ground staff were not h...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,23rd April 2023,Ireland
1,✅ Trip Verified | Second time BA Premium Econ...,1,22nd April 2023,United Kingdom
2,Not Verified | They changed our Flights from ...,10,18th April 2023,United States
3,Not Verified | At Copenhagen the most chaotic...,2,18th April 2023,United States
4,✅ Trip Verified | Worst experience of my life...,5,17th April 2023,United States